@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Vedantti珠宝首饰-来自美国纽约的珠宝品牌</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    @Html.Raw(WorkContext.ShopConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/themes/default/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/themes/default/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/themes/default/css/dr.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/themes/default/css/home.css" rel="stylesheet" type="text/css" />
	<link href="@{@WorkContext.CSSCDN}/themes/default/css1/main.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/components/jsmodern/jsmodern.min.css" rel="stylesheet" type="text/css" />    
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/components/jsmodern/jsmodern.min.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.soChange.js" type="text/javascript"></script>
	
	<link href="@{@WorkContext.CSSCDN}/themes/default/css/flexslider.css" rel="stylesheet" type="text/css" />
	<script src="@{@WorkContext.ScriptCDN}/scripts/jquery.flexslider-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        isGuestSC = @WorkContext.ShopConfig.IsGuestSC;
        scSubmitType = @WorkContext.ShopConfig.SCSubmitType;
        $(function () {
            jsModern.video("#video");
            jsModern.video("#video1");
        });

		$(function() {
			$(".flexslider").flexslider({
				slideshowSpeed: 4000, //展示时间间隔ms
				animationSpeed: 400, //滚动时间ms
				touch: true, //是否支持触屏滑动
				slideshow : false
			});
		});	
    </script>

</head>
<body>
    @Html.Partial("_header")
    <script type="text/javascript">
        $("#categorys").unbind();
        $("#categorysCon").removeClass("hide");
    </script>

	
	<div class="container" style="height:500px;    background: #000; width: 1400px; margin-left: auto; margin-right: auto;">
				
		    <div class="flexslider">
				<ul class="slides">
					<li>
					<a href="/blist/28.html">
						<img src="/upload/adv/ad_1807141734275082159.jpg" />
					</a>
					</li>
					<li><img src="/upload/adv/ad_1807141734150118519.jpg" /></li>
					<li><img src="/upload/adv/ad_1807141734002941957.jpg" /></li>
					<li><img src="/upload/adv/ad_1807141733380396819.jpg" /></li>
				</ul>
		    </div>
	</div>
	
	<script src="{dede:global.cfg_templets_skin/}/js/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
	<script src="@{@WorkContext.ScriptCDN}/scripts/main.js"></script>
    <!--结束-->
	
	
    
    <!--mobius-->
    <div class="mobius">
        <div class="mobius-right">
            <div class="mobius1">
                <div class="mobius3">
                    <p class="mtitile">MOBIUS</p>
                    <div class="mobiusa">
                        <p class="miaoshu1">VEDANTTI的每一颗钻石都是独一无二的
</p>
                        <p class="miaoshu2">与心灵深处缔结,见证永恒爱情</p>
                    </div>
                    <a href="/blist/28.html"><p class="discover">DISCOVER</p></a>
                </div>
            </div>
            <div class="mobius2">
                <img src="@{@WorkContext.ImageCDN}/themes/default/images/mobius.png" />
            </div>
        </div>
        <div class="mobius-left">
            <div id="video1" style="width:700px;height:396px;">
                <video src="@{@WorkContext.ImageCDN}/themes/default/video/Mobius.mp4"></video>
            </div>
        </div>

    </div>
    <!--mobius end-->
    <!--circle-->
    <div class="circle">
        <div class="circle-right">
            <div id="video" style="width:700px;height:396px;">
                <video src="@{@WorkContext.ImageCDN}/themes/default/video/Circle.mp4"></video>
            </div>
        </div>
        <div class="circle-left">
            <div class="circle1">
                <img src="@{@WorkContext.ImageCDN}/themes/default/images/circle.png" />
            </div>
            <div class="circle2">
                <div class="circle3">
                    <p class="mtitile">THE CIRCLE</p>
                    <div class="circlea">
                        <p class="miaoshu1">将莫比丝无止境的爱与祝愿渗透在每一个设计理念</p>
                        <p class="miaoshu2">独立女性宣言，演绎自信风采</p>
                    </div>
                    <a href="/blist/29.html"><p class="discover">DISCOVER</p></a>
                </div>
            </div>
        </div>

    </div>
    <!--circle end-->
    <!--shejishi-->
    <div class="shejishi" style="background:#ddd; background-image:url(@{@WorkContext.ImageCDN}/themes/default/images/shejishi.png); height:787px; background-size: 100%;">

        <div class="shejishi1">
            <div class="mobius3">
                <p class="mtitile" style="color:#000000;">VEDANTTI</p>
                <div class="mobiusa" style="color:#000000;">
                    <p class="miaoshu1">她是一个充满活力的年轻女孩，爱笑并热情洋溢</p>
                    <p class="miaoshu2">她精心创作每一款产品创，是为了女性能更自信地微笑 </p>
                </div>
                <a href="/other/designer"><p class="discover" style="margin-top:15%;">DISCOVER</p></a>
            </div>
        </div>
    </div>
    <!--shejishi end-->
    <!--chanpin-->
    <div class="chanpin">
        <div class="chanpin1" style="text-align:center">
            <p class="tchanpin">推荐产品</p>
            <span class="mchanpin">VEDANTTI高级珠宝缔造者</span>
        </div>
        <div class="chanpin2" style="text-align:center">
            @{
                List<AdvertInfo> productList = Adverts.GetAdvertList(48);
                foreach (AdvertInfo info in productList)
                {
                    <div class="chanpina">
                        <div class="chanpina1">
                            <img src="@WorkContext.ImageCDN/upload/adv/@info.Image" />
                            <p>@info.Title</p>
                        </div>
                        <div class="chanpina2">
                            <p class="jiage">@info.ExtField1</p>
                            <a href="@info.Url"><p class="discover">DETAILS</p></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <!--chanpin end-->
    <!--gongyi-->
    <div id="xilie4" style="background:url(@{@WorkContext.ImageCDN}/themes/default/images/33.jpg); width:1400px; height:400px; margin:auto; margin-top:30px;">
        <div class="xilie4right" style="height:270px; width:380px; background-color:#ffffff; float:right; margin-right:125px; margin-top:66px; text-align:center">
            <h2 class="txt-title" style="color: #000000; font-size: 23px;line-height: normal; margin-top:50px;">创作工艺</h2>
            <div class="txt-desc" style="color: #000000;font-size: 15px;line-height: 20px; width:290px; height:40px;margin-top: 12px;margin-left: 46px; text-align:left;">宝石鉴定师、珠宝大师、宝石镶嵌师和抛光大师发挥所长，缔造每件非凡臻品。</div>
            <hr style="border-top: 1px solid #7F7E7E;width: 80px;margin: 20px auto;margin-top: 20px;margin-right: auto;margin-bottom: 20px;margin-left: auto;" />
            <p style="font-size:18px"> &gt;&nbsp;<a href="/other/technics" style="color:#000000">观看影片探索作品的创作过程</a></p>
        </div>
    </div>
    <!--gongyi end-->
    <div id="xilie5" style="width:1400px; height:200px; margin:auto;margin-top:30px;">
        <div style="width:1360px; height:156px; position:relative;left:60px; top:20px;">
            <div style="width:50%; height:156px; float:left;">
                <h3>加入我们</h3>
                <ul style="float:none; margin-top:30px;">
                    <li style="float:left; padding-right:13%;"><a href="https://weibo.com/u/6604854967?refer_flag=1001030102_&is_hot=1" target="_blank"><span><img style="width:38px;" src="@{@WorkContext.ImageCDN}/themes/default/images/sina.png" /></span></a></li>
                    <li style="float:left; padding-right:13%;"><a href="https://www.facebook.com/vedantti" target="_blank"><span><img src="@{@WorkContext.ImageCDN}/themes/default/images/facebook.png" style="width:38px;"/></span></a></li>
                    <li style="float:left;padding-right:13%;"><a href="https://www.instagram.com/vedantti/" target="_blank"><span><img style="width:38px;" src="@{@WorkContext.ImageCDN}/themes/default/images/ins.png" /></span></a></li>
					<li style="float:left;padding-right:13%;"><a href="https://www.twitter.com/vedanttijewelry" target="_blank"><span><img style="width:38px;" src="@{@WorkContext.ImageCDN}/themes/default/images/tw.png" /></span></a></li>
                </ul>
            </div>
            <div style="width:50%; height:156px; float:right;">
                <div>
                    <h3>订阅新闻通讯</h3>
                    <div class="subscibe">
                        <form method="post" action="other/subscribe" novalidate="novalidate" data-form-submit="ajax">
                            <input id="subemail" type="email" autocomplete="off" class="text" pattern="@Html.Raw("[a-zA-Z0-9!#$%&amp;'*+/=?_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&amp;'*+/=?_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?")" title="订阅新闻通讯，获取最新产品及时尚资讯. 电邮地址" aria-label="订阅新闻通讯，获取最新产品及时尚资讯. 电邮地址" placeholder="电邮地址" />
                            <input class="btn-cta" type="submit" value="订阅" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_footer")
</body>
</html>

<script type="text/javascript">
    $(function(){
        _ShowDivHandler.init();
    });
	var _ShowDivHandler = {
	    hiddiv:$("#hidediv"),
	    hidtitle:$("#mhideTitle"),
        url:null,
	    init:function(){
	        $("#showdiv img").mouseenter(function(e){
	            var vSelf = $(this);
	            var vClass = vSelf.attr("data-class");
	            _ShowDivHandler.url = vSelf.attr("data-link");
	            _ShowDivHandler.hiddiv.removeClass("first");
	            _ShowDivHandler.hiddiv.removeClass("second");
	            _ShowDivHandler.hiddiv.removeClass("three");
	            _ShowDivHandler.hiddiv.removeClass("four");
	            _ShowDivHandler.hiddiv.addClass(vClass);
	            _ShowDivHandler.hiddiv.css({
	                "display":"block",
	                "background-image":"url("+vSelf.attr("src")+")"
	            });
	            _ShowDivHandler.hidtitle.text(vSelf.attr("data-title"));
	        });

	        _ShowDivHandler.hiddiv.mouseout(function(e){
	            if(e.relatedTarget==_ShowDivHandler.hiddiv.get(0) || $.contains(_ShowDivHandler.hiddiv.get(0),e.relatedTarget))
	                return;
	            $(this).css({
	                "display":"none",
	                "background-image":""
	            });
	        }).click(function(){
	            _ShowDivHandler.showProduct();
	        });
	    },
	    showProduct:function(){
	        if(_ShowDivHandler.url)
	            window.open(_ShowDivHandler.url,"blank");
	    }
	};
</script>

